@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div class="card-body p-5">
                    <h1 class="card-title display-4 text-center">ようこそ！</h1>
                    <p class="lead text-center">このWebアプリについての説明と使い方を<br />ご紹介します。</p>

                    <h2 class="mt-4">アプリの説明</h2>
                    <p>
                        このWebアプリは、ピッキングルートを管理するための革新的なツールです。<br />
                        商品の一覧、倉庫の配置図、ピッキングリストの作成、ルートの確認などが簡単に行えます。
                    </p>

                    <h2 class="mt-4">使い方</h2>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <b>商品一覧:</b> 商品のリストを確認し、追加・編集することができます。
                        </li>
                        <li class="mb-3">
                            <b>倉庫配置図:</b> 倉庫の配置図を表示し、倉庫内の棚や通路の追加・編集ができます。
                        </li>
                        <li class="mb-3">
                            <b>ピッキングリスト:</b> ピッキングする商品を選択し、ピッキングルートの作成ができます。。
                        </li>
                        <li class="mb-3">
                            <b>ルート確認:</b> 最適なピッキングルートを確認することができます。
                        </li>
                        <li class="mb-3">
                            <b>認証:</b> ユーザーの認証が必要なページにアクセスする場合、ログインが求められます。
                        </li>
                    </ul>

                    <p class="mt-4">
                        左記のナビゲーションメニューから、各機能にアクセスしてください。<br />
                        使い方について質問があれば、お気軽にお問い合わせください。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
