@page "/productlist"
@using PickingRoute.Models
@using PickingRoute.Services
@rendermode InteractiveServer
@inject ProductListService _productService

<PageTitle>ProducList</PageTitle>

<!-- CSSファイルの読み込み-->
<link href="/CSS/ProductList.css" rel="stylesheet" />

<h1>Product List</h1>

<table class="table">
	<thead>
		<tr>
			<th>Product Name </th>
			<th>Location X</th>
			<th >Location Y</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in _productItems)
		{
			<tr>
				<td>@item.ProductName</td>
				<td>@item.strangeLocationX</td>
				<td>@item.strangeLocationY</td>
			</tr>
		}
	</tbody>
</table>


@code {
	private List<ProductItem> _productItems = new(); 

	protected override async Task OnInitializedAsync()
	{
		_productItems = await _productService.GetProductAsync();
	}

}
