@page "/productlist"
@using PickingRoute.Components.Shared
@using PickingRoute.Models
@using PickingRoute.Services
@rendermode InteractiveServer
@inject ProductListService _productService

<PageTitle>ProducList</PageTitle>

<h1>Product List</h1>

// DBへの処理成否のメッセージ
@if (!string.IsNullOrEmpty(_latestMessage))
{
	<div class="alert @(_isLatestMessageSuccess ? "alert-success" :"alert-danger")">
		@_latestMessage
	</div>
}

@foreach (var item in _productItems)
{
	<ul class="list-unstyled">
		<li class="mb-3 d-flex align-items-center">
			@if (_editingProductItem != null && _editingProductItem.ProductId == item.ProductId)
			{
				<!--更新-->
				<ProductItemEditor ProductItem="_editingProductItem" OnSubmit="UpdateProductAsync" ButtonText="Save" />
			}
			else
			{
				<!--表示、編集ボタン-->
				<div class="d-inline-block me-3">@item.ProductName</div>
				<div class="d-inline-block me-3">@item.strangeLocationX</div>
				<div class="d-inline-block me-3">@item.strangeLocationY</div>
				<button @onclick="() => EnterEditMode(item)" class="btn btn-sm btn-primary me-2">Edit</button>
			}

			<!--削除ボタン-->
			<button @onclick="() => DeleteProductAsync(item.ProductId)" class="btn btn-sm btn-danger">Delete</button>
		</li>
	</ul>

}

<!--新規追加-->
<ProductItemEditor ProductItem="_newProductItem" OnSubmit="AddTodoAsync" ButtonText="Add" />

@code {
	private List<ProductItem> _productItems = new();
	private ProductItem _newProductItem = new ProductItem();
	private ProductItem? _editingProductItem;

	private string? _latestMessage;
	private bool _isLatestMessageSuccess;

	//初期化、商品リスト一覧の読み込み
	protected override async Task OnInitializedAsync()
	{
		await ReloadProductsAsync();
	}

	// 商品一覧の読み込む
	private async Task ReloadProductsAsync()
	{
		try
		{
			_productItems = await _productService.GetProductsAsync();
		}
		catch (ProductListServiceException ex)
		{
			SetUserMessage($"Error loading todos: {ex.Message}", false);
		}
	}

	// 編集ボタンを押した時の処理
	// 対象商品をインスタンス化し、プロパティ値をコピーする
	private void EnterEditMode(ProductItem productItem)
	{
		_editingProductItem = new ProductItem
			{
				ProductId = productItem.ProductId,
				ProductName = productItem.ProductName,
				strangeLocationX = productItem.strangeLocationX,
				strangeLocationY = productItem.strangeLocationY
			};
	}

	// 更新
	private async Task UpdateProductAsync()
	{
		if (_editingProductItem != null)
		{
			try
			{
				await _productService.UpdateProductAsync(_editingProductItem);
				// 更新後、変数を初期化
				_editingProductItem = null;
				// 再読み込み
				await ReloadProductsAsync();
				SetUserMessage("Puroduct item updated successfully.", true);
			}
			catch (ProductListServiceException ex)
			{
				SetUserMessage($"Error updating product: {ex.Message}", false);	
			}
		}
	}

	// 削除
	private async Task DeleteProductAsync(int id)
	{
		try
		{
			await _productService.DeleteProductAsync(id);
			await ReloadProductsAsync();
			SetUserMessage("Product item deleted successfully.", true);	
		}
		catch (ProductListServiceException ex)
		{
			SetUserMessage($"Error deleting product: {ex.Message}", false);
		}
	}

	// 追加
	private async Task AddTodoAsync()
	{
		try
		{
			await _productService.AddProductAsync(_newProductItem);
			// 追加後、変数を初期化
			_newProductItem = new ProductItem();
			// 再読み込み
			await ReloadProductsAsync();
			SetUserMessage("Todo item added successfully.", true);
		}
		catch (ProductListServiceException ex)
		{
			SetUserMessage($"Error adding product: {ex.Message}", false);
	}
	}

	private void SetUserMessage(string message, bool isSuccess)
	{
		_latestMessage = message + " " + DateTime.Now.ToString("HH:mm:ss");
		_isLatestMessageSuccess = isSuccess;
	}


}
